.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff; /* Zmiana koloru tła na białe */
  color: #000; /* Zmiana koloru tekstu na czarny */
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100px;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

li button {
  margin-left: 10px;
  background-color: #dc3545;
}

li button:hover {
  background-color: #c82333;
}
