<div *ngFor="let event of events" class="event-card">
  <div class="event-header">
    <h3 class="event-title">{{ event.title }}</h3>
    <p class="event-subtitle">Start: {{ event.description }}</p>
    <p class="event-subtitle">StartDate: {{ event.startTime }}</p>
    <p class="event-subtitle">GameTime: {{ event.gameTime }}</p>
    <p class="event-subtitle">MinAge: {{ event.minAge }}</p>
  </div>
  <div class="event-actions">
    <button mat-raised-button (click)="redirectToEvent(event.id)" routerLinkActive="active">MORE</button>
    <button mat-button>SHARE</button>
  </div>
</div>
<!--&lt;!&ndash;<div *ngFor="let event of events">&ndash;&gt;-->
<!--&lt;!&ndash;  <p>{{ event.title }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>{{ event.description }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash; Add more HTML to display event details &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

