<div class="selected-event-card">
  <div class="event-header">
    <div class="header-details">
      <!-- Nagłówek wydarzenia -->
      <h3 class="event-title">{{ event.title }}</h3>
      <p class="event-subtitle">Start: {{ event.description }}</p>
      <p class="event-subtitle">StartDate: {{ event.startTime }}</p>
      <p class="event-subtitle">GameTime: {{ event.gameTime }}</p>
      <p class="event-subtitle">MinAge: {{ event.minAge }}</p>
    </div>

    <!-- Szczegóły pola sportowego -->
    <div class="field-details">
      <h3 class="event-title">Field Details</h3>
      <p class="event-subtitle">Miasto: {{ sportField.city }}</p>
      <p class="event-subtitle">Ulica: {{ sportField.street }}</p>
      <p class="event-subtitle">Numer: {{ sportField.number }}</p>
      <p class="event-subtitle">Typ GRY: {{ sportField.fieldSpace}}</p>
      <p class="event-subtitle">Typ Boiska: {{ sportField.fieldType}}</p>
    </div>

    <div class="event-users">
      <h3 class="event-title">Event Users</h3>
      <div class="user-item" *ngFor="let user of users">
        <p class="user-info">Name: {{ user.firstname }}</p>
        <!-- Tutaj możesz dodać więcej informacji o użytkowniku -->
      </div>
    </div>
  </div>

  <div class="event-roles">
    <h3 class="event-title">Event Roles</h3>
    <div class="role-item" *ngFor="let roleSummary of roleSummaries">
      <p class="role-title">Game Role: {{ roleSummary.gameRole }}</p>
      <p class="role-info">Wolne miejsca: {{ roleSummary.availableCount }}</p>
      <p class="role-info">Zajęte miejsca: {{ roleSummary.occupiedCount }}</p>
      <ng-container *ngIf="canUserLeaveEvent(roleSummary.gameRole)">
        <button mat-raised-button (click)="handleLeaveEvent()">LEAVE</button>
      </ng-container>
      <ng-container *ngIf="canUserJoinEvent()">
        <button mat-raised-button (click)="handleJoinEvent(roleSummary.gameRole)">JOIN</button>
      </ng-container>
    </div>
  </div>

  <!-- Przycisk SHARE -->
  <div class="event-actions">
    <button mat-raised-button>SHARE</button>
    <ng-container *ngIf="canUserDeleteEvent()">
      <button mat-raised-button (click)="deleteSportEvent()">DELETE</button>
    </ng-container>
  </div>
</div>



<!-- Lista ról wydarzenia -->
<!--  <div class="event-roles">-->
<!--    <h3 class="event-title">Event Roles</h3>-->
<!--    <div class="role-item" *ngFor="let role of event.eventRoleResponse">-->
<!--      <p class="role-title">Game Role: {{ role.gameRole }}</p>-->
<!--      <p class="role-info">Is Available: {{ role.isAvailable }}</p>-->
<!--      <p class="role-info">User ID: {{ role.userId }}</p>-->
<!--    </div>-->
<!--  </div>-->
